<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Meal Planner</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/roboto.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css">
  
  

  
</head>

<body>
  
<div class="app" ng-app="app" ng-controller="MealsController">
    <h3 class="text-center">Healthy Meal Planner</h3>
    <form class="well">
    
        <input type="text" class="form-control" placeholder="Meal name" name="mealName" ng-model="newMeal.mealName" />
      
        <select class="form-control" ng-model="newMeal.category">
          <option ng-repeat="category in categories">{{category.name}}</option>
        </select>
    
        <input id="dateInput" type="text" class="form-control" placeholder="Date" name="date" ng-model="newMeal.date" />
        <br/>
        <input type="hidden" ng-model="newMeal.id" />
        <input type="button" value="Save" ng-click="saveContact()" class="btn btn-warning btn-block" />
    </form>
 
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Meal Name</th>
                <th>Category</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="meal in meals">
                <td>{{ meal.mealName }} {{meal.id}}</td>
                <td>{{ meal.category }}</td>
                <td>{{ meal.date }}</td>
                <td> <a href="javascript:void(0)" ng-click="edit(meal.id)">edit</a> | <a href="javascript:void(0)" ng-click="delete(meal.id)">delete</a></td>
            </tr>
        </tbody>
    </table>
</div>
  <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js'></script>

    <script src="js/index.js"></script>

</body>
</html>
